body {
    font-family: Arial, sans-serif;
}

#controls {
    width: 640px;
    margin: 20px auto;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
}
